*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px; */
    height: 100vh;
    background-image: url(images/www.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(53, 53, 53);
}

.headerr {
    background-image:url(images/div.elementor-repeater-item-8f878b7.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:250px;
    border-bottom-left-radius: 25px;
    border: none;
    padding: 70px 30px;
    display: flex;
    gap: 15%;
    margin-bottom: 30px;
    /* justify-content: center; */
}   

.headerr1 h1 {
  font-size:48px;
  font-weight:700;
  color: #fff;
}

.headerr1 h3{
  font-size:30px;
  font-weight:600;
  /* border-bottom:2px solid white; */
  width:fit-content;
  margin-top:5px;
  color: #fff;

}

.headerr2   {
    padding: 15px 0;
    /* display:flex; */
    /* align-items:end; */
    /* justify-content:center; */
    /* align-items: center; */
}


.search{
  margin:20px;
  margin-bottom: 60px;
  background:#dcb03f;
  border-radius:12px;
  padding:15px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  color:white;
}

.search input{
  border:none;
  background:transparent;
  outline:none;
  color:white;
  font-size:16px;
  width:100%;
}

.search-icon{
  width:40px;
  height:40px;
  border-radius:50%;
  border:2px solid white;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    column-gap: 50px;
    /* align-items: center; */
    /* justify-content: center; */
    /* grid-template-rows: 1fr 1fr; */
}

.card  h3{
    font-size: x-large;
    position: relative;
    bottom: 40px;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    border-top: 1px solid black;
    background-color: #fff;
    margin-top:11px;
    
}

.card a {
    text-decoration: none;
    color: black;
}

/* .card:hover {
    
} */
