*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px; */
    height: 100vh;
    background-image: url(images/www.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(53, 53, 53);
}

.header {
    background-image:url(images/div.elementor-repeater-item-8f878b7.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:250px;
    text-align: center;
    display:flex;
    align-items: center;
    justify-content:center;
    font-size: x-large;
    color: #fff;
}

.featured   {
    padding:20px 6px;
    display: flex;
    font-size: small;
    gap: 2px;
    align-items: center;
    /* justify-content: center; */
    margin: 15px 0;

}
.filters {
    display: flex;
    gap: 5px;
}

.featured button {
    border:none;
    padding:8px 15px;
    border-radius:20px;
    background:#fff;
    border:1px solid #ccc;
    cursor:pointer;
    font-size: small;
}
#all {
    background:#4caf50;
    color:white;
}

.cards {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.card {
    display: flex;
    align-items: center;
    padding: 10px;
    background-color: #fff;

    font-size: small;
    box-shadow:0 2px 5px rgba(0,0,0,0.08);
}

.card  h3 {
    font-size:12px;
    color:#777;
    margin-bottom:5px;
}
.card h2 {
    font-size:20px;
    margin-bottom:5px;
}
.card h4 {
    color:#43a047;
    font-size:18px;
    font-weight:600;
    margin-bottom:10px;
}

.card button {
    border:2px solid #d79c2f;
    background:transparent;
    padding:8px 18px;
    border-radius:25px;
    cursor:pointer;
    align-items:center;
    /* gap:8px; */
}

.card button a {
    text-decoration: none;
    color: black;
    font-weight: 600;
}
.product {
    flex: 1;
}



