*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#9db68a;
    display:flex;
    justify-content:center;
    align-items:center;
    min-height:100vh;
}

.container{
    width:360px;
    padding:20px;
}

.card{
    background:#e9e9e9;
    border-radius:18px;
    padding:18px;
    margin-bottom:18px;
}

.header{
    text-align:center;
    font-weight:600;
    padding: 40px;

}

.details-row{
    display:flex;
    justify-content:space-between;
    margin:8px 0;
    font-size:14px;
}

.details-row span:first-child{
    font-weight:500;
}

.card-payment-card {
    display: flex;
    align-items: center;
    gap: 20px;
}
.payment-card img{
    height:22px;
    margin-right:12px;
}

.total-box{
    background:#dcdcdc;
    padding:20px;
    border-radius:12px;
    margin-top:10px;
    font-weight:600;
    font-size:23px;
}

.contact-btn{
    background:#e9e9e9;
    border-radius:30px;
    padding:12px;
    text-align:center;
    font-weight:500;
    margin-bottom:20px;
    cursor:pointer;
}

.shipping{
    display:flex;
    align-items:center;
    justify-content: center;
    gap:12px;
    margin-bottom:20px;
}

.shipping-text{
    font-size:14px;
}

.shipping-text span{
    display:block;
    font-size:12px;
    color:#333;
}

.pay-btn{
    width:100%;
    background:#f1931b;
    color:white;
    border:none;
    padding:14px;
    font-size:18px;
    font-weight:500;
    border-radius:12px;
    cursor:pointer;
}

.pay-btn a {
    box-shadow:none;
    text-decoration: none;
    color: #fff;
    font-weight: 900;
    font-size: larger;
}

.background {
    background-color: #fff;
}