*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
}

.container {
    height: 100%;
}
.container1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.container img {
    padding:10px;
    width:360px;


}

.card {
    background:#dcdcdc;
    border-top-left-radius:30px;
    border-top-right-radius:30px;
    padding:25px 20px;
    min-height:59vh;
}

.container h1 {
    font-size:36px;
    margin-top: 30px;
    margin-bottom:55px;
}

.container p {
    font-size: larger;
    color:#333;
    line-height:1.3;
    margin-bottom:180px;
}

.rs {
    display: flex;
    align-items: center;
    gap: 120px;
}

.rs img {
    width: 110px;
}

.buttons{
  display:flex;
  gap:15px;
  justify-content: end;
  border: none;

}

.buy{
  /* flex:1; */
  padding:12px;
  border:none;
  border-radius:10px;
  background:#4caf50;
  /* color:white; */
  font-size:16px;
  /* color:white; */
  cursor:pointer;
}

.cart{
  /* flex:1; */
  padding:12px;
  border:none;
  border-radius:10px;
  background:#b89a2f;
  font-size:16px;
  cursor:pointer;
  border: none;

}

.buy button a {
    text-decoration: none;
    background: #4caf50;
    color: #fff;
    border: none;

}
.cart button a {
    text-decoration: none;
    background: #b89a2f;
    color: #fff;
    border: none;

}