*   {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 30px; */
    height: 100vh;
    background-image: url(images/unsplash_b-0-LM0wzWM.svg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-color: rgb(53, 53, 53);
}

.welcome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    
}
.welcome img {
    margin: 15px 0;
}

.welcome h1 {
    margin-top: 150px;
    font-size: 45px;
    text-align: center;
    color: #fff;
}

.welcome p {
    color: #fff;
    margin-top: 60px;
}

.welcome span {
    color: yellow;
}

#agro img {
    position: relative;
    left: 210px;
    bottom: 15px;
}

/* page 2 & 3 */


.page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.page img {
    margin-top: 120px;

}
.page p {
    color: #fff;
    margin-top: 40px;
    text-align: center;
    margin-bottom: 70px;

}

.butt {
    display: flex;
    gap:50px;
}
.butt a {
    text-decoration: none;

}

.butt1 a {
    color: #fff;
}
.butt1 button{
    padding: 7px 30px;
    border-radius: 25px;
    border: none;
    background-color: green;

}

.butt2  button {
    padding: 14px 37px;
    border-radius: 25px;
    border: none;
    background-color: yellow;
}

.butt2 a {
    color: black;
    font-size: 15px;
}

/* page 4 */

.page4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.page4 h1 {
    font-size: 45px;
    color: yellow;
    text-align: center;

}
#p4img {
    margin-top: 65px;
}
.page4 p {
    color: #fff;
}

#lang {
    font-size: large
}

.dealer-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 60px;
    margin-bottom: 60px;
}

.dealer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.dealer button {
    padding: 10px 7px;
    border-radius: 20px;
    border: none;
    background: burlywood;
}

.dealer a {
    text-decoration: none;
    font-size: large;
    color: black;
    
}

.page4 p {
    text-align: center;
    margin-bottom: 12px;
}

.learnbutt {
    text-align: center;
}
.learnbutt button {
    padding: 10px 7px;
    border-radius: 10px;
    border: none;
    background-color: rgb(214, 139, 85);
}
.learnbutt button a {
    text-decoration: none;
    color: black;
}

/* page 5 */

.page5 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#sp1 {
    margin-top: 15px;
    color: #fff;
}

.page5 p {
    color: rgb(240, 240, 32);
    /* margin-bottom: 20px; */
}

#sp1  span {
    color:  rgb(240, 240, 32);
}

.form {
    text-align: center;
    margin: 90px 0;

}
.form input {
    width: 300px;
    height: 55px;
    padding: 13px;
    border-radius: 20px;
    border: none;
    font-size: large;
}

.butty {
    display: flex;
    justify-content: center;
}
.page5butt button {
    padding: 14px 37px;
    border-radius: 25px;
    border: none;
    background: yellow;
}
.page5butt button a {
    color: black;
    text-decoration: none;
    background: yellow;
    border: none;
}

.farmerpage {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.well {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    color:yellow ;
    font-style: italic;
    margin-top: 100px;
}

.well2 {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.well2 button {
    font-size: larger;
    padding: 7px;
    border: 3px solid black;
    background-color: rgb(214, 139, 85);
}

.well3 button {
    padding: 14px 37px;
    border-radius: 25px;
    border: none;
    background: yellow;
    margin-top: 100px;

}
.well3 button a {
    color: black;
    text-decoration: none;
    background: yellow;
    border: none;

}

.form1 {
    text-align: center;
    margin: 90px 0;

}
.form1 input {
    width: 300px;
    height: 55px;
    padding: 13px;
    border-radius: 20px;
    border: none;
    font-size: large;
}

.formm {
    margin-bottom: 30px;
}
