*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#bfbfbf;
    display:flex;
    justify-content:center;
    align-items:center;
    height:100vh;
}

.classsw{
    /* width:360px; */
    height:100vh;
    /* background:#cfcfcf; */
    display:flex;
    flex-direction:column;
    /* justify-content:space-between; */
    padding:20px 15px;
}


.container a {
    text-decoration: none;
    color: black;
    font-size: 16x;
}

.card {
    color: #fff;
    background-color: black;
    font-size: larger;
    padding: 15px;
    width: 300px;

}

.classsw img {
    display: flex;
    margin: 100px 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.container{
    background:#fff;
    padding:20px;
    border-radius:20px;
    font-weight:500;
    display:flex;
    align-items:center;
    gap:10px;
    cursor:pointer;
    margin-top: 30px;
}

.container a {
    text-decoration: none;
    color: black;
    font-size:18px;
}


.card {
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    margin-top:30px ;
}


.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    height: 60px;
    
   
    /* border-top: 1px solid black; */
    /* background-color: #fff; */
    margin-top:150px;   
}